 .body {
     background-color: #f2edf3;
     margin: 0;
 }

 .sidebar {
     position: fixed;
     top: 60px;
     /* khớp với chiều cao header */
     left: 0;
     width: 250px;
     height: calc(100vh - 60px);
     background: linear-gradient(135deg, #6a11cb, #2575fc);
     color: white;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     z-index: 999;
 }

 .sidebar .nav-link {
     display: block;
     color: white;
     padding: 14px 20px;
     font-size: 16px;
     text-decoration: none;
     transition: all 0.3s ease-in-out;
 }

 .sidebar .nav-link:hover {
     background-color: rgba(255, 255, 255, 0.15);
     color: #ffeb3b;
     border-radius: 8px;
 }

 .content {
     margin-top: 100px;
     margin-left: 270px;
     padding: 30px;
     /* background-color: white;
     border-radius: 16px; */
     /* box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05); */
     transition: all 0.3s ease-in-out;
 }

 .table-status {
     padding: 5px 10px;
     border-radius: 15px;
     font-size: 12px;
 }

 .status-pending {
     background-color: #ae0d1a;
     color: #721c24;
 }

 .status-in-progress {
     background-color: #fff3cd;
     color: #856404;
 }

 .status-fixed {
     background-color: #d1ecf1;
     color: #0c5460;
 }

 .status-completed {
     background-color: #d4edda;
     color: #155724;
 }

 .header {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     height: 60px;
     /* thêm chiều cao cố định */
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     padding: 10px 20px;
 }